$navWidth: 250px;
$navCloseWidth: 64px;
$layoutHeader: 75px;

@mixin webkit ($type, $value) {
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

@for $i from 1 through 110 {
  .margin-left-#{$i} {
    margin-left: (1px * $i);
  }

  .margin-right-#{$i} {
    margin-right: (1px * $i);
  }
}
